/* $Id: pagestyle-rtl.css,v 1.1.2.4 2009/12/24 16:20:40 christianzwahlen Exp $ */

div.block-pagestyle div h3.inline {
  padding: 0 0 0.25em 0;
}
div.block-pagestyle div h3.inline,
div.pagestyle_inline div#edit-pagestyle-select-wrapper,
div.pagestyle_inline div#edit-pagestyle-select-wrapper label,
div.pagestyle_current_inline div#edit-pagestyle-select-wrapper select,
ul.pagestyle_inline,
ul.pagestyle_inline li,
p.pagestyle_current_list, p.pagestyle_current_inline,
ul.pagestyle_inline li a.ts_icon {
  float: right;
}
ul.pagestyle_current_list,
p.pagestyle_current_list,
p.pagestyle_current_inline  {
  clear: left;
}

.ps_icon {
  padding: 0 22px 0 0; /* NOTE icon specific (16 + 6 = 22px) */
}

/* pagestyle black white link, visited  */
a.pagestyle_black_white,
a.pagestyle_black_white:visited  {
  background-position: right 0px;
}
ul.pagestyle_inline li a.pagestyle_black_white,
ul.pagestyle_inline li a.pagestyle_black_white:visited {
  background-position: right 0px; /* NOTE icon specific */
}

/* pagestyle white black link, visited */
a.pagestyle_white_black,
a.pagestyle_white_black:visited {
  background-position: right 0px;
}
ul.pagestyle_inline li a.pagestyle_white_black,
ul.pagestyle_inline li a.pagestyle_white_black:visited {
  background-position: right 0px; /* NOTE icon specific */
}

/* pagestyle normal link, visited  */
a.pagestyle_yellow_blue,
a.pagestyle_yellow_blue:visited {
  background-position: right 0px;
}
ul.pagestyle_inline li a.pagestyle_yellow_blue,
ul.pagestyle_inline li a.pagestyle_yellow_blue:visited {
  background-position: right 0px; /* NOTE icon specific */
}

/* pagestyle normal link, visited  */
a.pagestyle_standard,
a.pagestyle_standard:visited {
  background-position: right 0px;
}
ul.pagestyle_inline li a.pagestyle_standard,
ul.pagestyle_inline li a.pagestyle_standard:visited {
  background-position: right 0px; /* NOTE icon specific */
}

/* pagestyle hover  */
a.pagestyle_black_white:hover,
a.pagestyle_white_black:hover,
a.pagestyle_yellow_blue:hover,
a.pagestyle_standard:hover {
  background-position: right -100px;
}
/* pagestyle black white hover inline */
ul.pagestyle_inline li a.pagestyle_black_white:hover {
  background-position: right -100px; /* NOTE icon specific */
}
/* pagestyle white black hover inline */
ul.pagestyle_inline li a.pagestyle_white_black:hover {
  background-position: right -100px; /* NOTE icon specific */
}
/* pagestyle normal hover inline */
ul.pagestyle_inline li a.pagestyle_yellow_blue:hover {
  background-position: right -100px; /* NOTE icon specific */
}
/* pagestyle standard hover inline */
ul.pagestyle_inline li a.pagestyle_standard:hover {
  background-position: right -100px; /* NOTE icon specific */
}

/* pagestyle focus/active */
a.pagestyle_black_white:focus,
a.pagestyle_white_black:focus,
a.pagestyle_yellow_blue:focus,
a.pagestyle_standard:focus,
a.pagestyle_black_white:active,
a.pagestyle_white_black:active,
a.pagestyle_yellow_blue:active,
a.pagestyle_standard:active {
  background-position: right -200px;
}
/* pagestyle white black focus/active inline */
ul.pagestyle_inline li a.pagestyle_black_white:focus,
ul.pagestyle_inline li a.pagestyle_black_white:active  {
  background-position: right -200px; /* NOTE icon specific */
}
/* pagestyle white black focus/active inline */
ul.pagestyle_inline li a.pagestyle_white_black:focus,
ul.pagestyle_inline li a.pagestyle_white_black:active  {
  background-position: right -200px; /* NOTE icon specific */
}
/* pagestyle normal focus/active inline */
ul.pagestyle_inline li a.pagestyle_yellow_blue:focus,
ul.pagestyle_inline li a.pagestyle_yellow_blue:active  {
  background-position: right -200px; /* NOTE icon specific */
}
/* pagestyle normal focus/active inline */
ul.pagestyle_inline li a.pagestyle_standard:focus,
ul.pagestyle_inline li a.pagestyle_standard:active  {
  background-position: right -200px; /* NOTE icon specific */
}
.ps_float_right {
  float: left;
}
div#edit-pagestyle-fontweight-black-white-wrapper,
div#edit-pagestyle-fontweight-white-black-wrapper,
div#edit-pagestyle-fontweight-yellow-blue-wrapper,
div#edit-pagestyle-fontweight-standard-wrapper {
  float: left;
}
div#edit-pagestyle-fontweight-black-white-wrapper label,
div#edit-pagestyle-fontweight-white-black-wrapper label,
div#edit-pagestyle-fontweight-yellow-blue-wrapper label,
div#edit-pagestyle-fontweight-standard-wrapper label,
div#edit-pagestyle-fontweight-black-white-wrapper select,
div#edit-pagestyle-fontweight-white-black-wrapper select,
div#edit-pagestyle-fontweight-yellow-blue-wrapper select,
div#edit-pagestyle-fontweight-standard-wrapper select {
  float: right;
  margin: 0em 0em 0em 1em;
}
div#edit-pagestyle-fontweight-black-white-wrapper div.description,
div#edit-pagestyle-fontweight-white-black-wrapper div.description,
div#edit-pagestyle-fontweight-yellow-blue-wrapper div.description,
div#edit-pagestyle-fontweight-standard-wrapper div.description {
  float: right;
  clear: right;
}
