/* $Id: style_black_white.css,v 1.1.1.1.2.2 2008/03/05 23:25:29 christianzwahlen Exp $ */

<!--
/* <![CDATA[ */

/* body for old browser (IE 4) */
body,
* {
  color: #000 !important;
  background-color: #fff !important;
  background-image: none !important;
}

/* ]]>*/
-->

